@use '../../styles/variables' as *;

.journey-item {
	left: 10%;
	position: relative;
	margin: 0;
	padding: 2rem 3rem;
	display: flex;
	align-items: center;
	height: 4rem;
	width: 20rem;

	h3 {
		color: $text-secondary-color;
		margin: 0 3px;
		font-size: 1.8rem;
	}

	&.dashed-side {
		border-left: 2px dashed $text-primary-color;

		&::before {
			content: '';
			border-radius: 100%;
			background-color: $text-primary-color;
			height: 0.7rem;
			width: 0.7rem;
			left: -54.5px;
			position: relative;
		}

		&:hover {
			cursor: pointer;
			h3 {
				color: $text-primary-color;
				transition: color 0.2s;
			}
		}
	}

	&.marker {
		padding: 0.8rem 0;
		svg {
			transform: translateX(-30px);
		}
		h3 {
			font-size: 2.5rem;
			margin: 0;
			color: $text-primary-color;
		}
	}

	.hidden-text {
		width: 80%;
		animation: appear 0.3s ease-in-out;
		padding-left: 4px;
	}
}

@keyframes appear {
	0% {
		transform: translateY(100%);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
