@use '../../styles/variables' as *;

.journey-item {
	left: 10%;
	position: relative;
	margin: 0;
	padding: 1.5rem 3rem;
	display: flex;
	align-items: center;
	height: 4rem;
	max-width: 80vw;

	h3 {
		color: $text-secondary-color;
		font-size: 1.8rem;
		margin: 0;

		&:hover {
			cursor: pointer;
		}
	}

	&.dashed-side {
		padding: 2rem;
		border-left: 2px dashed $text-primary-color;

		&::before {
			content: '';
			border-radius: 100%;
			background-color: $text-primary-color;
			height: 0.8rem;
			width: 0.8rem;
			left: -7.5px;
			position: absolute;
		}

		.text-container {
			margin-left: 1.8rem;
		}

		&:hover {
			h3 {
				color: $text-primary-color;
				transition: color 0.2s;
			}
		}
	}

	&.marker {
		padding: 2rem 0;
		svg {
			transform: translateX(-30px);
		}
		h3 {
			font-size: 2.5rem;
			color: $text-primary-color;
		}
	}
	.hidden-text {
		position: absolute;
		animation: appear 0.3s ease-in-out;
		margin: 1rem 0;
		p {
			margin: 0;
		}
	}
}

@keyframes appear {
	0% {
		transform: translateY(50%);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@media screen and (max-width: 768px) {
	.journey-item {
		left: 2%;

		h3 {
			font-size: 1.5rem;
		}

		&.dashed-side {
			padding: 1.5rem;
			padding-right: 0;

			.text-container {
				margin-left: 1.3rem;
			}
		}

		&.marker {
			.text-container {
				position: relative;
				left: -1rem;
				h3 {
					font-size: 2rem;
				}

				.hidden-text {
					width: 80vw;
				}
			}
		}
		.hidden-text {
			p {
				font-size: 0.8rem;
				max-width: 70%;
			}
		}
	}
}
