@use '../../styles/variables' as *;

.heading {
	margin: 3rem;
	left: 5%;
	position: relative;
	width: 80vw;
	// text-align: center;

	h1 {
		font-size: 3.5rem;
		color: $text-primary-color;
		span {
			color: $text-secondary-color;
		}
	}
}
