.categories {
	display: flex;
	align-items: baseline;
	justify-content: center;
	margin: 2rem;

	.category {
		border-radius: 2rem;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

		height: 25rem;
		width: 20rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 1rem;

		h3 {
			font-size: 2rem;
		}

		p {
			display: block;
			font-size: 1.5rem;
			font-style: bold;

			&.discount {
				font-size: 1rem;
				color: #777777;
			}
		}

		&.package {
			height: 30rem;
			width: 25rem;
		}
	}
}
