@use '../../styles/variables' as *;

header {
	height: 5.5rem;
	width: 100vw;
	display: flex;
	align-items: center;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
	a {
		display: flex;
		align-items: center;
		text-decoration: none;
		svg {
			height: 4rem;
			margin: 0 2.5rem;
		}
	}

	.tagline {
		opacity: 0.8;
	}

	nav {
		position: absolute;
		right: 0;
		margin: 0 2.5rem;
		ul {
			display: flex;
			margin-left: 1rem;
			padding: 0;
			li {
				list-style: none;
				padding: 0 2.5rem;

				a.active {
					text-decoration-line: underline;
					text-decoration-thickness: 0.1rem;
					text-underline-offset: 0.4rem;
					text-decoration-color: $text-secondary-color;
				}
			}
		}
		h2 {
			font-size: 1.2rem;
			color: $text-secondary-color;
		}
	}
}

@media screen and (max-width: 768px) {
	header {
		a {
			svg {
				margin: 0 1rem;
			}
		}

		.tagline {
			display: none;
		}

		nav {
			margin: 0 1rem;
			ul {
				li {
					padding: 0 1rem;

					a.active {
						text-underline-offset: 0.3rem;
					}
				}
			}
			h2 {
				font-size: 1rem;
			}
		}
	}
}
