@use '../../styles/variables' as *;

header {
	height: 5.5rem;
	width: 100vw;
	display: flex;
	align-items: center;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
	a {
		display: flex;
		align-items: center;
		text-decoration: none;
		svg {
			height: 4rem;
			margin: 0 2.5rem;
		}
	}

	nav {
		ul {
			display: flex;
			padding: 0;
			li {
				list-style: none;
				padding: 0 2.5rem;

				a.active {
					text-decoration-line: underline;
					text-decoration-thickness: 0.1rem;
					text-underline-offset: 0.4rem;
					text-decoration-color: $text-secondary-color;
				}
			}
		}
		h2 {
			font-size: 1.2rem;
			color: $text-secondary-color;
		}
	}

	.external-links {
		position: absolute;
		right: 0;
		display: flex;
		align-items: center;
		padding: 1rem;
	}
}
