footer {
	margin-top: 2rem;
	height: 5.5rem;
	width: 100vw;
	display: flex;
	align-items: center;
	box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);

	p {
		margin-left: 2.5rem;
	}

	a {
		margin-left: 1rem;
	}
}
